####Pdfs
*.pdf

####Executables
*.out
# Ignore pcalc binary, but allow directory:
pcalc
!pcalc/
# Ignore expr binary, but allow directory:
expr
!expr/

####Object files
*.o

####Test files
test.txt

####Temporary ignores
GNU_tail.c
